*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.header{
    min-height:100vh;
    width:100%;
    background-image: url("images/title-image.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 0% 6%;
    justify-content: space-between;
    align-items: center;

}

nav img{
    width: 200px;
}

nav img:hover{
    transform: translateY(-6px);
    transition: 1s;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #93B3DF;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.title-page-text{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.title-page-text h1{
    font-size: 62px;
}

.title-page-text p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.btn{
   display: inline-block;
   text-decoration: none;
   color: #fff;
   border: 1px solid #fff;
   padding: 12px 34px;
   font-size: 10px;
   background: transparent;
   position: relative;
   cursor: pointer;

}

.btn:hover{
    border: 1px solid #93B3DF;
    background: #93B3DF;
    transition: 1s;
}

nav .fa{
     display: none;
}

@media(max-width: 700px){
    .title-page-text h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #93B3DF;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

    }

    .nav-links ul{
        padding: 30px;
    } 
}

/*---------how to use this resource section------*/
.how-to{
     width: 80%;
     margin: auto;
     text-align: center;
     padding-top: 100px;
}

.how-to h1{
     color: #020F49;
     font-size: 36px;
     font-weight: 600;
}

.how-to p{
     color:#777;
     font-size: 14px;
     font-weight: 300;
     line-height: 22px;
     padding: 10px;
}

.row{
     margin-top: 5%;
     display: flex;
     justify-content: space-between;
}

.course-col{
     flex-basis: 31%;
     background: #020F49;
     border-radius: 10px;
     margin-bottom: 5%;
     padding: 20px 12px;
     box-sizing: border-box;
}

.course-col h3{
     text-align: center;
     font-weight: 600;
     margin: 10px 0;
     color: #fff;
}

.course-col p{
     color: #fff;
}

 .course-col:hover{
     box-shadow: 0 0 20px #93B3DF;
}

@media(max-width: 700px){
    .row{
         flex-direction: column;
    }
}

/*---------resource section in "more resources" page-----*/
.resources{
     width: 80%;
     margin: auto;
     text-align: center;
     padding-top: 50ox;
}

.resources-col{
     flex-basis: 32%;
     border-radius: 10px;
     margin-bottom: 30px;
     position: relative;
     overflow: hidden;
}

.resources-col img{
     width: 100%;
     display: block;
}

.layer{
     background: transparent;
     height: 100%;
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     transition: 0.5s;
}

.layer:hover{
    background:#93B3DF;
}
 
.layer h3{
     width: 100%;
     font-weight: 500;
     color: #fff;
     font-size: 20px;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
     position: absolute;
     opacity: 0;
     transition: 0.5s;
}

.layer:hover h3{
     bottom: 49%;
     opacity: 1;
}

.layer a{
     color:#fff;
}

/*----examples page----*/
.examples{
     width:80%;
     margin: auto;
     text-align: center;
     padding-top: 100px;
}

.examples-col{
     flex-basis: 31%;
     border-radius: 10px;
     margin-bottom: 5%;
     text-align: left;
}

.examples-col img{
     width: 100%;
     border-radius: 10px;
}

.examples-col p{
    padding:0;
    color:#777;
}

.examples-col h3{
     margin-top: 16px;
     margin-bottom: 15px;
     text-align: left;
}

.examples-col a{
     color:#020F49;
}

/* --- footer ----*/
.footer{
     width: 100%;
     text-align: center;
     padding: 30px 0;
}

.footer p{
     color:#777;
    
}

.fa-heart-o{
     color:#93B3DF;
}

/*--- about fork page ----*/
.sub-header{
     height: 50vh;
     width: 100%;
     background-image: url(images/about-fork-bck.png);
     background-position: center;
     background-size: cover;
     text-align: center;
     color: #fff;
     font-size: 30px;
}

.about-fork{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img{
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

.about-col h1{
    color:#020F49;
    font-size: 30px;
    padding-top: 0;
}

.about-col p{
    color:#777;
    padding: 15px 0 25px;
}

.about-col a{
    color:#020F49;
}

/*-----video player page---*/
.video-player{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.vid-col{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.vid-col h1{
    text-align: left;
    color:#020F49;
    font-size: 30px;
    padding-top: 0;
}

.vid-col p{
    color:#777;
    padding: 15px 0 25px;
    text-align: left;
}

.vid-col img{
    width: 95%;
    text-align: center;
    border-radius: 10px;
}

.video-player video{
    margin-top: 100px;
    width: 100%;
    box-shadow: 0 0 20px #020F49;
}

.video-player h4{
    text-align: left;
    color:#777;
}

.output{
    flex:auto;
}

.output p {
    text-align: left;
    color: #fff;
}

.blue-btn{
    display: inline-block;
    text-decoration: none;
    color: #020F49;
    border: 1px solid #020F49;
    padding: 12px 34px;
    font-size: 10px;
    background: transparent;
    cursor: pointer;
 
}
 
.blue-btn:hover{
     border: 1px solid #93B3DF;
     background: #93B3DF;
     transition: 1s;
  
}
